@font-face {
    font-family: 'Twin Marker';
    src: url('fonts/TwinMarker.woff2') format('woff2'),
        url('fonts/TwinMarker.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MODERNIZ';
    src: url('fonts/MODERNIZ.woff2') format('woff2'),
        url('fonts/MODERNIZ.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unageo';
    src: url('fonts/Unageo-Regular.woff2') format('woff2'),
        url('fonts/Unageo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* TO-DO List at the BOTTOM of the page */

:root {
    --mainText: rgb(255, 255, 255);
}
body {
    color: var(--mainText);
    font-family: 'Unageo';
    display:flex;
    flex-direction:column;
    background-color: rgb(0, 19, 6);
}
li {
    list-style:none;
}
h5 {
    padding:-10px;
}
a:link {
    color:white;
    text-decoration: none;
}
a:visited {
    color:green;
    text-decoration: none;
}

/* Navigation - All Pages */
.top-nav {
    display:flex;
    flex-direction:column;
    padding:20px;
    flex:1;
    align-items: center;
    justify-content: center;
}
.nav {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:95vw;
}
.brand-box {
    position:relative;
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#placeholder-box {
    display:flex;
    flex:1;

} 
#nav-box {
    display:flex;
    flex-direction:row;
    width:95vw;
    height:15vh;
    align-items: center;
    justify-content: center;
    flex:1;
}
#logo-box{
    max-width:33vw;
    max-height:10vh;
    flex:1;
    object-fit: fill;
}
#contact-icons {
    display:flex;
    flex-direction:row;
    flex:1;
    min-width:20%;
    max-height:10vh;
    position:absolute;
    bottom:0px;
    right:-160px;
}
#contact-phone, #contact-email, #contact-address {
    display:flex;
    flex-direction:row;
    flex:1;
    max-height:100%;
    max-width:10rem;
    padding:10px;
}
#nav-Link {
    display:flex;
    flex-direction:row;
    font-family:'MODERNIZ';
    color:white;
    flex:1;
    font-size:16px; 
}

/* Home Page */
.main-page-content {
    display: block;
    margin:15px;
    border:1px solid darkseagreen;
}
.photo-scroll-container {
    display:flex;
    flex-direction: column;
    height:60vh;
    align-items: center;
    border:1px solid blue;
}
.photo {
    position:relative;
    height:50vh;
    width:90vw;
    border:1px solid red;
    margin:10px;
}

#text-block {
    position:absolute;
    bottom:-50px;
    right:-30px;
    display:flex;
    background-color: green;
    border:3px outset orange;
    border-radius: 8px;
    width:45vw;
    height:15vh;
    padding:10px;
    color:white;
}
#quote-1 {
    position:absolute;
    top:10px;
    left:10px;
    width:60px;
    height:60px;
}
#quote-2 {
    position:absolute;
    bottom:10px;
    right:10px;
    width:60px;
    height: 60px;
}
#quote-text {
    position:absolute;
    top:30px;
    left:70px;
}
#caption {
    position:absolute;
    left:10px;
    bottom:-50px;
    font-size:18px;
    color:white;
}
#family-reunion {
    width:100%;
    height:100%;
    object-fit: cover;
}

/* Process Page | What We Do */
h1,h2,h3,h4,h5,h6 {
    text-wrap: nowrap;
    font-family:'MODERNIZ';
    paint-order:stroke fill;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: green;
}
.process-page-content {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;;
}
.card-container {
    display:flex;
    width:95vw;
    border:1px solid rgb(80, 86, 167);
    margin:10px 0px 10px 0px;
    flex-wrap: wrap;
    background-color:chartreuse;
    border-radius:8px;
    padding:10px;
}
.card {
    display:flex;
    flex-direction: column;
    flex:1;
    border:4px outset green;
    border-radius: 8px;
    margin:10px;
    padding:10px;
}
.info-card {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
#details-card {
    background-color: rgba(0, 128, 0, 0.644);
    border-radius:8px;
    padding:10px;
    margin-bottom:10px;
    min-width:80%;
}
.photo-container {
    display:flex;
    width:100%;
    border-radius:8px;
    overflow:hidden;
    flex:1;
    object-fit:cover;
}
#card-image {
    flex:1;

}
.card-info {
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: center;
}
#section-header {
    font-family: 'Twin Marker';
    font-size: 40px;
}
#page-header {
    font-family: 'Twin Marker';
    font-size: 80px;
    margin-bottom: -50px;
    margin-top:-1px;
}
#divider {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
#divider-img {
    flex:1;
}
#section-header {
    flex:2;
}

/* Page Footer - All Pages */
#footer-contact-icons {
    display:flex;
    flex-direction:row;
    width:100%;
    max-height:10vh; 

}
#footer-contact-phone, #footer-contact-email, #footer-contact-address {
    display:flex;
    flex-direction:row;
    flex:1;
    max-height:5rem;
    max-width:4rem;
    margin:4px;
}
.footer {
    display:flex;
    flex-direction: row;
    min-height:100px;
    width:97vw;
}
#logo-box #white-text {
    flex:1;
}
.footer>div {
    flex:1;
}
.footer-1 {
    display:flex;
    flex-direction: column;
    background-color:#404245;
    color:white;
}
.footer-2 {
    color:white;
    background-color: #6e6e6e;
}
.footer-3 {
    width:100%;
    color: white;
    background-color: #6e6e6e;
}
.footer-4 {
    display:flex;
    flex-direction: column;
    position:relative;
    color:white;
    background-color: #6e6e6e;
    align-items: center;
    justify-content: center;
}
#site-map {
    color: var(--mainText);
    padding:0;
    align-items: start;
    justify-content: start;
}

.staff-cards {
    display:flex;
}
/* About Us | Who We Are */
.person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
}
.staff-container {
    border-radius: 50%;
    height: 312px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 400px;
}
.staff-container:after {
    background-color: #f2f2f2;
    content: "";
    height: 10px;
    position: absolute;
    top: 390px;
    width: 100%;
}
.staff-container:hover {
    transform: scale(0.54);
}
.staff-container-inner {
    clip-path: path(
      "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
    );
    position: relative;
    transform-origin: 50%;
    top: -200px;
}
.circle {
    background-color: #fee7d3;
    border-radius: 50%;
    cursor: pointer;
    height: 380px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 210px;
    width: 380px;
}
.img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.staff-container:hover .img {
    transform: translateY(0) scale(1.2);
}
.img1 {
    left: 22px;
    top: 164px;
    width: 340px;
}
.img2 {
    left: -46px;
    top: 174px;
    width: 444px;
}
.img3 {
    left: -16px;
    top: 144px;
    width: 466px;
}
.divider {
    background-color: #ca6060;
    height: 1px;
    width: 160px;
}
.name {
    color: #404245;
    font-family: 'Unageo';
    font-size: 36px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
}
.title {
    color: #6e6e6e;
    font-family: 'Unageo';
    font-size: 14px;
    font-style: italic;
    margin-top: 4px;
}
  
/* TO-DO */
    /* Fix the scaling of the top nav bar with the logo. 
    SVG icons are getting pushed */